<%- include('./layouts/main.ejs') -%>
<%- include('./partials/navigation.ejs') -%>
<div class="container p_0">
    <div class="w_100 p_1 d_grid grid_t_c a_items_c j_c_c">
        <h2 class="font_size_50 font_w_n text_a_c">Compra productos Electronicos o vendelos.</h2>
        <div class="m_auto m_t_2___">
            <a href="/tienda" ><button class="bttn transition">Comprar</button></a>
            <a href="/vender" ><button class="bttn transition">Vender algo</button></a>
        </div>
    </div>

    <h2 class="text_a_c p_1 font_w_n">¿Qué es lo que hacemos?</h2>
    <div class="p_1 w_100 d_grid grid_t_c a_items_c j_c_c bg_color_y">
        <div class="m_auto gap_1">
            <img class="img m_auto" src="https://tecseo.es/wp-content/uploads/2015/06/portada-tecseo-5.jpg" alt="">
        </div>
        <div class="d_flex flex_d_c">
            <p class="font_size_25 text_a_c">Proporcionamos la opción de vender tus productos electrónicos en este lugar al igual que también podrás comprar productos de otra compañía.</p>
            <a href="#" class="text_a_c"><button class="bttn transition">Probar ahora</button></a>
        </div>
    </div>

    <!-- Cards -->
    <div class="d_grid grid_t_c_2 p_1 gap_1">
        <div class="card_model_1 m_auto pos_rel overflow_hdd transition bg_1" id="id_run_view_1">
            <img class="img_Cat" src="img/articlesCat/computer.jpg" alt="iconHeadphones.png">
            <!-- <h2 class="font_w_n text_a_c_card">Computadoras</h2> -->
            <a href="#" class="text_d_n color_n">
                <div class="pos_abs view text_a_c_card transition" id="id_push_view_1">
                    <span class="font_size_25">Computadoras</span>
                </div>
            </a>
        </div>

        <div class="card_model_1 m_auto pos_rel overflow_hdd transition bg_2" id="id_run_view_2">
            <img class="img_Cat" src="img/articlesCat/phone.jpg" alt="iconHeadphones.png">
            <!-- <h2 class="font_w_n text_a_c_card">Telefonos</h2> -->
            <a href="#" class="text_d_n color_n">
                <div class="pos_abs view text_a_c_card transition" id="id_push_view_2">
                    <span class="font_size_25">Telefonos</span>
                </div>
            </a>
        </div>

        <div class="card_model_1 m_auto pos_rel overflow_hdd transition bg_2" id="id_run_view_3">
            <img class="img_Cat" src="img/articlesCat/headPhones.jpg" alt="iconHeadphones.png">
            <!-- <h2 class="font_w_n text_a_c_card">Audifonos</h2> -->
            <a href="#" class="text_d_n color_n">
                <div class="pos_abs view text_a_c_card transition" id="id_push_view_3">
                    <span class="font_size_25">Audifonos</span>
                </div>
            </a>
        </div>

        <div class="card_model_1 m_auto pos_rel overflow_hdd transition bg_2" id="id_run_view_4">
            <img class="img_Cat" src="img/articlesCat/horn.jpg" alt="iconHeadphones.png">
            <!-- <h2 class="font_w_n text_a_c_card">Bocinas</h2> -->
            <a href="#" class="text_d_n color_n">
                <div class="pos_abs view text_a_c_card transition" id="id_push_view_4">
                    <span class="font_size_25">Bocinas</span>
                </div>
            </a>
        </div>
    </div>

</div>

<script defer src="/js/animations.js"></script>
<%- include('./partials/footer.ejs') -%>