<%- include('./layouts/main.ejs') -%>
<%- include('./partials/navigation.ejs') -%>
<%- include('./layouts/messages.ejs') -%>
<div class="container">
    <h1>Perfil de usuario</h1>
    <p>Nombre:</p>
</div>