<footer class="bg_3 m_b_60">
    <div class="container">
        <div class="d_grid grid_t_c_2 j_c_c text_a_c">
            <a href="" class="d_flex a_items_c text_d_n color_n j_c_c">
                <span class="font_size_25 text_a_c">Mercar-Do</span>
                <img src="/img/logo.png" alt="">
            </a>
            <div class="d_flex flex_d_c">
                <h4 class="font_w_n">Compañia</h4>
                <ul class="ul_l_s_n">
                    <li><a href=""  class="text_d_n color_n underline">About</a></li>
                    <li><a href=""  class="text_d_n color_n underline">Legal</a></li>
                    <li><a href=""  class="text_d_n color_n underline">Term of service</a></li>
                    <li><a href=""  class="text_d_n color_n underline">Privacy Policy</a></li>
                    <li><a href=""  class="text_d_n color_n underline">Contact Us</a></li>
                    <li><a href=""  class="text_d_n color_n underline">Cookie Settings</a></li>
                    <li><a href=""  class="text_d_n color_n underline">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="d_flex flex_d_c">
                <h4 class="font_w_n">Categorias</h4>
                <ul class="ul_l_s_n">
                    <li><a href=""  class="text_d_n color_n underline">Telefonos</a></li>
                    <li><a href=""  class="text_d_n color_n underline">Computadoras</a></li>
                    <li><a href=""  class="text_d_n color_n underline">Audifonos</a></li>
                    <li><a href=""  class="text_d_n color_n underline">TV's</a></li>
                    <li><a href=""  class="text_d_n color_n underline">Bocinas</a></li>
                </ul>
            </div>
            <div class="d_flex flex_d_c j_c_c a_items_c">
                <a href="#"><img class="icon" src="/img/social/iconGmail.png" alt="iconGmail"></a>
                <a href="#"><img class="icon" src="/img/social/iconGit.png" alt="iconGmail"></a>
            </div>
        </div>
    </div>
</footer>
    <!-- <div class="d_flex j_c_c a_items_c bg_color_g height_50 m_b_60">
        <span class="">© 2022 Mercar-Do</span>
    </div> -->
</body>
</html>