<%- include('../layouts/messages.ejs') -%>
<div class="container">
    <div class="d_flex j_c_c flex_d_c a_items_c">
        <form action="/register/login" method="post" class="">
            <div class="d_flex flex_d_c">
                <h1 class="font_w_n">Login</h1>
                <input type="email" class="searcher" name="Email" id="" placeholder="Telefono">
                <input type="password" class="searcher" name="Password" id="" placeholder="Contraseña">
                <a href="" class="m_t_b_05 font_size_15">Olvide la contraseña</a>
            </div>
                <button type="submit" class="input_text m_t_1 bg_color_g color_w font_w_bold font_size_25 border_none cursor">Entrar</button>
        </form>
        <a href="/register/create-acount" class="text_d_n color_n m_t_1 letter_sp_2">Crear una cuenta</a>
    </div>
</div>